<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="caption">
                        <span >
                            <h3>{{message}}</h3>
                        </span>
                        <a href="/" type="button">home</a>
      </div>
    </div>
  </div>  
</div>
